html, body {
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, rgba(64, 133, 156, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}
canvas {
  display: block;
}

h1{
  color: chartreuse;
  font-size: 5vw;
}

img{
  width: 300px;
  /* animation:spin 4s linear infinite; */
}

section {
  background-color: red;
}

#my_cat_section{
  background-color: blue;
}


@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}